# This file describes a Fastly Compute package. To learn more visit:
# https://developer.fastly.com/reference/fastly-toml/

authors = ["<oss@fastly.com>"]
description = "A basic starter kit that demonstrates routing, simple synthetic responses and overriding caching rules."
language = "go"
manifest_version = 3
name = "Default starter for Go"

[scripts]
    env_vars = ["GOARCH=wasm", "GOOS=wasip1"]
    build = "go build -o bin/main.wasm ."
    post_init = "go get github.com/fastly/compute-sdk-go@latest"
